
*{margin: 0px;
  font-family: 'Roboto Condensed', sans-serif;
box-sizing: border-box;
padding: 0px;}

.App{
  background-color: #111;
}

.popup-content{
  width: auto!important;
  border: 0px solid #d7d7d7!important;
}

@media only screen and (max-width: 450px){
  .popup-content {
    width: 310px!important;
   
  }
  .popup-content iframe{
    width: 300px;
   
  }
  .movie_posters{
padding-left: 0px!important;
  }
}
